version: '3.8'

services:
  app:
    build: .
    ports:
      - "${PORT:-5003}:${PORT_INTERNAL:-5002}"
    environment:
      - PORT=${PORT_INTERNAL:-5002}
      - MONGO_URI=${MONGO_URI:-mongodb://mongo:27017/ssex}
      - JWT_SECRET=${JWT_SECRET:-your_production_secret}
      - ADMIN_EMAIL=${ADMIN_EMAIL:-admin@admin.com}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-your_secure_password}
      - ASSET_ROUTE=${ASSET_ROUTE:-/assets}
      - ASSET_DIR=${ASSET_DIR:-/app/packages/server/public/assets}
      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
      - MINIO_PORT=${MINIO_PORT}
      - MINIO_USE_SSL=${MINIO_USE_SSL}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_BUCKET=${MINIO_BUCKET}
      - MINIO_PUBLIC_HOST=${MINIO_PUBLIC_HOST}
    # depends_on:
    #   - mongo
    networks:
      - default
      - coolify
    restart: always

  # mongo:
  #   image: mongo:latest
  #   ports:
  #     - "${MONGO_PORT:-27018}:27017"
  #   volumes:
  #     - mongo-data:/data/db
  #   restart: always

volumes:
  mongo-data:

networks:
  coolify:
    external: true
