version: '3.8'

services:
  app:
    build: .
    ports:
      - "5003:5002"
    environment:
      - PORT=5002
      - MONGO_URI=mongodb://mongo:27017/ssex
      - JWT_SECRET=your_production_secret
      - ADMIN_EMAIL=admin@admin.com
      - ADMIN_PASSWORD=your_secure_password
      - NODE_ENV=production
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
