@import "tailwindcss";

.scrollbar-themed {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #111827;
}

.scrollbar-themed::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-themed::-webkit-scrollbar-track {
  background: #111827;
}

.scrollbar-themed::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 9999px;
  border: 2px solid #111827;
}
